body {
  background: rgb(217, 214, 210);
  /*background-image: url("tile-background.jpeg");*/
  background-image: url("half-block-background.jpg");
  background-repeat: repeat;
  background-attachment: scroll;
}
.part {
  background: white;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 0.5em black;
  padding: 0.5em;
}
.text-shadow {
  text-shadow: 0 0 0.5em black;
  color: black;
}
.result-box {
  margin: 3em;
  padding: 1em;
  background: white;
}
.thumb {
  text-align: center;
}
.thumb img {
  box-shadow: 0 0 0.5em black;
  border: none;
  margin: 1em;
}
.picture-frame {
  display: inline-block;
  width: 80%;
}
.picture-frame img {
  max-width: 100%;
  max-height: 100%;
}

.text-title {
  font-style: italic;
}
.white {
  background: white;
}
