<!DOCTYPE html>
<html lang="en">
<head>
<title>Some Words</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript"
  src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script
  src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="main.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>
  <!-- <h1 class="text-center text-shadow">
    Adjective Number Noun
  </h1> -->

  <div class="container">
    <div class="result-box">
      <pre><code>{{ results }}</code></pre>
      <pre><code>{{ resultn }}</code></pre>
    </div>
  </div>

  <footer class="container-fluid">
    &copy; 2016-2019 by Sarah Happy
  </footer>
</body>
